<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="yamaica Luna SR2" sequenceNumber="78">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.6.1.v201409111852"/>
<unit id="org.eclipse.cdt.feature.group" version="8.6.0.201502131403"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.7.3.v201411190455"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.7.3.v201411190455"/>
<unit id="org.eclipse.cvs.feature.group" version="1.4.100.v20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="model.emf.dbusxml.feature.feature.group" version="0.7.8.201401151351"/>
<repository location="http://dbus-emf-model.eclipselabs.org.codespot.com/git/update_site/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.feature.group" version="2.1.0.201306250935"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="2.1.0.201306250935"/>
<unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="2.1.0.201306250935"/>
<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.franca.core.sdk.feature.group" version="0.9.1.201412191134"/>
<unit id="org.franca.ui.sdk.feature.group" version="0.9.1.201412191134"/>
<unit id="org.franca.dbus.sdk.feature.group" version="0.9.1.201412191134"/>
<unit id="org.franca.dbus.ui.sdk.feature.group" version="0.9.1.201412191134"/>
<repository location="http://franca.eclipselabs.org.codespot.com/git/update_site/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.genivi.commonapi.someip.validator.feature.feature.group" version="3.1.5.v201601121433"/>
<unit id="org.genivi.commonapi.core.validator.feature.feature.group" version="3.1.5.v201601121427"/>
<unit id="org.genivi.commonapi.dbus.validator.feature.feature.group" version="3.1.5.v201601121430"/>
<unit id="org.genivi.commonapi.someip.feature.feature.group" version="3.1.5.v201601121433"/>
<unit id="org.genivi.commonapi.core.feature.feature.group" version="3.1.5.v201601121427"/>
<unit id="org.genivi.commonapi.dbus.feature.feature.group" version="3.1.5.v201601121430"/>
<repository location="http://docs.projects.genivi.org/yamaica-update-site/CommonAPI/updatesite/3.1"/>
</location>
</locations>
<environment>
<arch>x86</arch>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>
