<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.exportWizards">
   <category
         id="de.bmw.yamaica.franca.ui.exportCategory"
         name="Franca">
   </category>
      <wizard
            category="de.bmw.yamaica.franca.ui.exportCategory"
            class="de.bmw.yamaica.franca.ui.ExportWizard"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/obj16/fileType_filter.gif"
            id="de.bmw.yamaica.franca.ui.exportWizard"
            name="Franca IDL Files">
         <description>
            Export Franca IDL files.
         </description>
      </wizard>
      <wizard
            category="de.bmw.yamaica.franca.ui.exportCategory"
            class="de.bmw.yamaica.franca.ui.HtmlExportWizard"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/obj16/fileType_filter.gif"
            id="de.bmw.yamaica.franca.ui.htmlExportWizard"
            name="Franca IDL Documentation (HTML)">
         <description>
            Generate Franca IDL documentation files (HTML) from fidl files.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.bmw.yamaica.franca.ui.importCategory"
            name="Franca">
      </category>
      <wizard
            category="de.bmw.yamaica.franca.ui.importCategory"
            class="de.bmw.yamaica.franca.ui.ImportWizard"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/obj16/fileType_filter.gif"
            id="de.bmw.yamaica.franca.ui.importWizard"
            name="Franca IDL Files">
         <description>
            Import Franca IDL files.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.bmw.yamaica.franca.ui.newCategory"
            name="Franca">
      </category>
      <wizard
            canFinishEarly="false"
            category="de.bmw.yamaica.franca.ui.newCategory"
            class="de.bmw.yamaica.franca.ui.InterfaceDefinitionNewWizard"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/obj16/fileType_filter.gif"
            id="de.bmw.yamaica.franca.ui.interfaceDefinitionNewWizard"
            name="Franca Interface Definition"
            project="false">
         <description>
            Create a new Franca interface definition file.
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="de.bmw.yamaica.franca.ui.newCategory"
            class="de.bmw.yamaica.franca.ui.DeploymentSpecificationNewWizard"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/obj16/fileType_filter.gif"
            id="de.bmw.yamaica.franca.ui.deploymentSpecificationNewWizard"
            name="Franca Deployment Specification"
            project="false">
         <description>
            Create a new Franca deployment specification file.
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="de.bmw.yamaica.franca.ui.newCategory"
            class="de.bmw.yamaica.franca.ui.DeploymentDefinitionNewWizard"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/obj16/fileType_filter.gif"
            id="de.bmw.yamaica.franca.ui.deploymentDefinitionNewWizard"
            name="Franca Deployment Definition"
            project="false">
         <description>
            Create a new Franca deployment definition file.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bmw.yamaica.ide.ui.mainPerspective">
         <newWizardShortcut
               id="de.bmw.yamaica.franca.ui.interfaceDefinitionNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.bmw.yamaica.franca.ui.deploymentSpecificationNewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.bmw.yamaica.franca.ui.deploymentDefinitionNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.bmw.yamaica.franca.ui"
            type="new"
            wizardId="de.bmw.yamaica.franca.ui.interfaceDefinitionNewWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.bmw.yamaica.franca.ui"
            type="new"
            wizardId="de.bmw.yamaica.franca.ui.deploymentSpecificationNewWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.bmw.yamaica.franca.ui"
            type="new"
            wizardId="de.bmw.yamaica.franca.ui.deploymentDefinitionNewWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.bmw.yamaica.franca.ui"
            type="import"
            wizardId="de.bmw.yamaica.franca.ui.importWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.bmw.yamaica.franca.ui"
            type="export"
            wizardId="de.bmw.yamaica.franca.ui.exportWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
                  <or>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.fidl">
                     </test>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.fdepl">
                     </test>
                  </or>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.bmw.yamaica.franca.ui"
            type="export"
            wizardId="de.bmw.yamaica.franca.ui.htmlExportWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.fidl">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.base.core.yamaicanature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="de.bmw.yamaica.base.ui.yamaicaExportWizards">
      <wizard
            exportWizardId="de.bmw.yamaica.franca.ui.exportWizard">
      </wizard>
      <wizard
            exportWizardId="de.bmw.yamaica.franca.ui.htmlExportWizard">
      </wizard>
   </extension>
   <extension
         point="de.bmw.yamaica.base.ui.yamaicaImportWizards">
      <wizard
            importWizardId="de.bmw.yamaica.franca.ui.importWizard">
      </wizard>
   </extension>
   <extension
         point="de.bmw.yamaica.base.ui.yamaicaNewWizards">
      <wizard
            newWizardId="de.bmw.yamaica.franca.ui.interfaceDefinitionNewWizard">
      </wizard>
      <wizard
            newWizardId="de.bmw.yamaica.franca.ui.deploymentSpecificationNewWizard">
      </wizard>
      <wizard
            newWizardId="de.bmw.yamaica.franca.ui.deploymentDefinitionNewWizard">
      </wizard>
   </extension>
</plugin>
