<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="yamaicaProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="yamaica">
         <property
               name="windowImages"
               value="platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-16px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-32px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-48px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-64px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-128px.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica_product.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,224,590,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,208,586,16">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="yamaica">
         <property
               name="windowImages"
               value="platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-16px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-32px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-48px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-64px.png,platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica-logo-128px.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/de.bmw.yamaica.ide.ui/icons/yamaica_product.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,224,590,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,208,586,16">
         </property>
         <property
               name="appName"
               value="yamaica">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
