<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.bmw.yamaica.ide.ui.internal.preferences.DefaultPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/yamaica_nature.gif"
            id="de.bmw.yamaica.ide.ui.projectNatureImage"
            natureId="de.bmw.yamaica.common.core.yamaicanature">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
         <and>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="de.bmw.yamaica.ide.ui.mainPerspective">
               </equals>
            </with>
            <not>
               <with
                     variable="org.eclipse.ui.IWorkbench">
                  <test
                        args="de.bmw.yamaica.ide.ui.disableFileToolbarExtensions"
                        property="org.eclipse.ui.isActivityEnabled">
                  </test>
               </with>
            </not>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.bmw.yamaica.ide.ui.commands.NewProject"
            id="de.bmw.yamaica.ide.ui.commands.newProject"
            name="New yamaica Project">
      </command>
      <command
            defaultHandler="de.bmw.yamaica.ide.ui.commands.AddYamaicaNature"
            id="de.bmw.yamaica.ide.ui.commands.addYamaicaNature"
            name="Add yamaica Nature">
      </command>
      <command
            defaultHandler="de.bmw.yamaica.ide.ui.commands.RemoveYamaicaNature"
            id="de.bmw.yamaica.ide.ui.commands.removeYamaicaNature"
            name="Remove yamaica Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.bmw.yamaica.ide.ui.internal.editor.YamaicaEditor"
            default="true"
            filenames="yamaica.xml"
            icon="platform:/plugin/de.bmw.yamaica.common.ui/icons/yamaica.png"
            id="de.bmw.yamaica.ide.ui.editor"
            name="yamaica Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.bmw.yamaica.ide.ui.internal.perspectives.MainPerspective"
            icon="platform:/plugin/de.bmw.yamaica.common.ui/icons/yamaica.png"
            id="de.bmw.yamaica.ide.ui.mainPerspective"
            name="yamaica">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bmw.yamaica.ide.ui.mainPerspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.6667f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <newWizardShortcut
               id="de.bmw.yamaica.ide.ui.projectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.bmw.yamaica"
            type="new"
            wizardId="de.bmw.yamaica.ide.ui.projectWizard">
         <enablement>
            <or>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="de.bmw.yamaica.ide.ui.mainPerspective">
                  </equals>
               </with>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.file?endof=additions">
         <command
               commandId="org.eclipse.ui.edit.undo"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/configs.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.project.cleanAction"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/debugt_obj.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.help.helpContents"
               style="pulldown">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.help.helpContents">
         <command
               commandId="org.eclipse.ui.help.quickStartAction"
               icon="platform:/plugin/org.eclipse.ui.intro/icons/welcome16.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.help.helpContents"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.equinox.p2.ui.sdk.install"
               icon="platform:/plugin/org.eclipse.equinox.p2.ui/icons/obj/iu_update_obj.gif"
               label="Install New Software"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               icon="platform:/plugin/org.eclipse.jface/icons/full/message_info.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.bmw.yamaica.ide.ui.fileToolbarExtensionsActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.bmw.yamaica.ide.ui.commands.removeYamaicaNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.bmw.yamaica.common.core.yamaicanature">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.bmw.yamaica.ide.ui.commands.addYamaicaNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <not>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="de.bmw.yamaica.common.core.yamaicanature">
                        </test>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.bmw.yamaica.common.ui.newCategory"
            class="de.bmw.yamaica.ide.ui.internal.dialogs.ProjectWizard"
            finalPerspective="de.bmw.yamaica.ide.ui.mainPerspective"
            hasPages="true"
            icon="icons/yamaica_new.png"
            id="de.bmw.yamaica.ide.ui.projectWizard"
            name="yamaica Project"
            project="true">
         <description>
            Create a new yamaica project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.bmw.yamaica.ide.ui.internal.preferences.Preferences"
            id="de.bmw.yamaica.ide.ui.preferences"
            name="yamaica">
      </page>
   </extension>
</plugin>
