<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.bmw.yamaica.ide.ui.workbenchobserver.DefaultPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.bmw.yamaica.ide.ui.workbenchobserver.MenuBarPropertyTester"
            id="de.bmw.yamaica.ide.ui.workbenchobserver.menuBarPropertyTester"
            namespace="de.bmw.yamaica.ide.ui.workbenchobserver"
            properties="menuBarEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>