<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="yamaicaImportWizards" name="yamaica Import Wizards" schema="schema/yamaicaImportWizards.exsd"/>
   <extension-point id="yamaicaExportWizards" name="yamaica Export Wizards" schema="schema/yamaicaExportWizards.exsd"/>
   <extension-point id="yamaicaNewWizards" name="yamaica New Wizards" schema="schema/yamaicaNewWizards.exsd"/>
   <extension-point id="yamaicaLaunchConfigurationTypes" name="yamaica Launch Configuration Types" schema="schema/yamaicaLaunchConfigurationTypes.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.bmw.yamaica.base.ui.internal.preferences.Preferences"
            id="de.bmw.yamaica.base.ui.preferences"
            name="yamaica">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/yamaica_nature.gif"
            id="de.bmw.yamaica.base.ui.projectNatureImage"
            natureId="de.bmw.yamaica.base.core.yamaicanature">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.bmw.yamaica.base.ui.fileToolbarExtensionsActive">
         <and>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="de.bmw.yamaica.ide.ui.mainPerspective">
               </equals>
            </with>
            <not>
               <with
                     variable="org.eclipse.ui.IWorkbench">
                  <test
                        args="de.bmw.yamaica.base.ui.disableFileToolbarExtensions"
                        property="org.eclipse.ui.isActivityEnabled">
                  </test>
               </with>
            </not>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.bmw.yamaica.base.ui.internal.preferences.DefaultPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.bmw.yamaica.base.ui.importCategory"
            name="yamaica">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.bmw.yamaica.base.ui.exportCategory"
            name="yamaica">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.bmw.yamaica.base.ui.newCategory"
            name="yamaica">
      </category>
   </extension>
   <extension
         point="de.bmw.yamaica.base.ui.yamaicaImportWizards">
      <wizard
            importWizardId="org.eclipse.ui.wizards.import.FileSystem">
      </wizard>
   </extension>
   <extension
         point="de.bmw.yamaica.base.ui.yamaicaExportWizards">
      <wizard
            exportWizardId="org.eclipse.ui.wizards.export.FileSystem">
      </wizard>
   </extension>

</plugin>
